# Eclipse
.classpath
.factorypath
.project
.settings/

# Logs e arquivos temporários
*.log
*.tmp

log/
target/
.idea/
build/
HELP.md
/.metadata/
.vscode/settings.json
.vscode/launch.json

env
mysql-data